# List

List is mutable

List is an ordered sequence of items.

We can have different data types under a list. E.g we can have integer, float and string items in a same list.

### List creation

In [1]:
list1=[] #empty list

In [2]:
print(type(list1))#type of list

<class 'list'>

In [26]:
print(dir(list)) #This will show all the methods of list

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [27]:
# List of integers numbers
list2 = [10,30,60]

In [28]:
# List of float numbers
list3=[10.77,30.66,60.89]

In [29]:
# List of strings
list4=["one","Two","Three"]

In [30]:
# Nested Lists
list5=['Mansi','Patel',[10,2.3],22,[33,45,22]]

In [31]:
# List of mixed data types
list6 = ['Mansi','Patel',22.9,33]

In [33]:
#Length of list
len(list2)

3

In [34]:
# Retreive first element of the list
list3[0]

10.77

In [35]:
# Retreive first element of the list
list4[0]

'one'

In [38]:
# Nested indexing - Access the first character of the first list element
list5[2][0],list4[0][0]

(10, 'o')

In [39]:
# Last item of the list
list4[-1]

'Three'

In [40]:
# Last item of the list
list5[-1]

[33, 45, 22]

### List Slicing

In [16]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [41]:
# Return all items from 0th to 3rd index location excluding the item at loc 3.
mylist[0:3]

['one', 'two', 'three']

In [42]:
# List all items from 2nd to 5th index location excluding the item at loc 5.
mylist[2:5]

['three', 'four', 'five']

In [43]:
# Return first three items
mylist[:3]

['one', 'two', 'three']

In [44]:
# Return first two items
mylist[:2]

['one', 'two']

In [45]:
# Return last three items
mylist[-3:]

['six', 'seven', 'eight']

In [46]:
# Return last two items
mylist[-2:]

['seven', 'eight']

In [47]:
# Return last item of the list
mylist[-1]

'eight'

In [49]:
# Return whole list
mylist,mylist[:]

(['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'],
 ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'])

### Add , Remove & Change Items

In [50]:
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [59]:
# Add an item to the end of the list 
mylist.append('nine')

In [60]:
# Add item at index location 9
mylist.insert(9,'ten')

In [64]:
# Add item at index location 1
mylist.insert(1,'ONE')
mylist

['one',
 'ONE',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [68]:
# Remove item "ONE"
mylist.remove('ONE')
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [69]:
# Remove last item of the list
mylist.pop()
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [72]:
# Remove item at index location 8
mylist.pop(8)
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [73]:
# Remove item at index location 7
del mylist[7]

In [75]:
# Change value of the string
mylist[0]=1
mylist[1]=2
mylist[2]=3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [76]:
# Empty List / Delete all items in the list
mylist.clear()

In [77]:
mylist #verifying list

[]

In [78]:
# Delete the whole list
del mylist

In [79]:
mylist #This 'll give error list is not defined'

NameError: name 'mylist' is not defined

### Copy List

In [80]:
mylist = ['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [82]:
mylist1 = mylist#create a new refrence mylist1

In [84]:
id(mylist),id(mylist1) #The address of both mylist & mylist1 will be the same as both are pointing to same list.

(2110535433032, 2110535433032)

In [85]:
# Create a copy of the list
mylist2 = mylist.copy()

In [87]:
id(mylist),id(mylist2) # The address of mylist2 will be different from mylist because mylist2 is pointing to the copy of the existing list

(2110535433032, 2110531912584)

In [88]:
mylist[0] = 1

In [89]:
mylist

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [90]:
mylist1 # mylist1 also updated with new value due to same id

[1, 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [92]:
mylist2 # Copy of list won't be impacted due to changes made on the original list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

### Join Lists

In [93]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']

In [94]:
list1+list2 # Join two lists by '+' operator

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [96]:
list1.extend(list2) #append list2 with list1
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

### List Membership

In [97]:
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [98]:
'one' in list1 # Check if 'one' exist in the list

True

In [100]:
'1' in list1 # Check if '1' exist in the list

False

In [101]:
'ten' in list1 # Check if 'ten' exist in the list

False

In [103]:
# Check if 'three' exist in the list
if 'three' in list1:
    print('Three is present in the list')
else:
    print('Three is not present in the list')

Three is present in the list

### Reverse & Sort List

In [107]:
mylist= ['one' 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [108]:
mylist.reverse()
mylist

['ten', 'nine', 'eight', 'seven', 'six', 'five', 'four', 'three', 'onetwo']

In [112]:
mylist[::-1]

['three', 'ten', 'six', 'seven', 'onetwo', 'nine', 'four', 'five', 'eight']

sort VS sorted

In [115]:
listS =[10,23,12,6,88,28,123]

In [119]:
mylist.sort()# Sort list in ascending order
print(mylist)
listS.sort()
print(listS)
mylist.sort(reverse=True)#Sort list in descending order
print(mylist)
listS.sort(reverse=True)
print(listS)

['eight', 'five', 'four', 'nine', 'onetwo', 'seven', 'six', 'ten', 'three']
[6, 10, 12, 23, 28, 88, 123]
['three', 'ten', 'six', 'seven', 'onetwo', 'nine', 'four', 'five', 'eight']
[123, 88, 28, 23, 12, 10, 6]

In [122]:
listS =[10,23,12,6,88,28,123]

In [125]:
# sorted Returns a new sorted list and doesn't change original list
print(sorted(listS))
listS

[6, 10, 12, 23, 28, 88, 123]

[10, 23, 12, 6, 88, 28, 123]

### Loop through a list

In [126]:
list1

['one',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'five',
 'six',
 'seven',
 'eight']

In [127]:
for i in list1:
    print(i)

one
two
three
four
five
six
seven
eight
five
six
seven
eight

In [128]:
for i in enumerate(list1):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')
(8, 'five')
(9, 'six')
(10, 'seven')
(11, 'eight')


### Count

In [130]:
list10 =['one', 'two', 'three', 'four', 'one', 'one', 'two', 'three']

In [132]:
list10.count('one')# Number of times item "one" occurred in the list.

3

In [133]:
list10.count('two')# Number of times item "two" occurred in the list.

2

### All / Any

### List Comprehence

# Tuples

1.Tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a tuple once assigned.

2.When we do not want to change the data over time, tuple is a preferred data type.

3.Iterating over the elements of a tuple is faster compared to iterating over a list.

### Tuple Creation

In [156]:
# Empty tuple
tup1 = ()

In [157]:
# tuple of integers numbers
tup2 = (10,20,30)

In [158]:
# tuple of float numbers
tup3 = (10.20,20.22,30)

In [159]:
# tuple of strings
tup4 = ('Mansi','patel','Ahmedabad')

In [160]:
# Nested tuple
tup5 = ('MAnsi',28,(40,100),(23,22),('aba',20))

In [161]:
# Tuple of mixed data types
tup6 = ('Mansi','12,True')

In [162]:
tup7 = (10,[12,22,33],{1,2,3},{'name':'Mansi'})

In [163]:
len(tup7)#Length of tuple

4

### Tuple Indexing

In [164]:
# Retreive first element of the tuple
tup2[0]

10

In [165]:
# Retreive first element of the tuple
tup4[0]

'Mansi'

In [166]:
# Nested indexing - Access the first character of the first tuple element
tup4[0][0]

'M'

In [167]:
# Last item of the tuple
tup4[-1]

'Ahmedabad'

In [168]:
# Last item of the tuple
tup4[-1]

'Ahmedabad'

### Tuple Slicing

In [169]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [170]:
# Return all items from 0th to 3rd index location excluding the item at loc 3.
mytuple[0:3]

('one', 'two', 'three')

In [171]:
# List all items from 2nd to 5th index location excluding the item at loc 5.
mytuple[2:5]

('three', 'four', 'five')

In [172]:
# Return first three items
mytuple[:3]

('one', 'two', 'three')

In [173]:
# Return first two items
mytuple[:2]

('one', 'two')

In [174]:
# Return last three items
mytuple[-3:]

('six', 'seven', 'eight')

In [175]:
# Return last two items
mytuple[-2:]

('seven', 'eight')

In [176]:
# Return last item of the tuple
mytuple[-1]

'eight'

In [177]:
# Return whole tuple
mytuple[:]

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

### Remove & Change Items

In [178]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [179]:
# Tuples are immutable which means we can't DELETE tuple items
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [180]:
# Tuples are immutable which means we can't CHANGE tuple items
mytuple[0]='ONE'

TypeError: 'tuple' object does not support item assignment

In [181]:
# Deleting entire tuple object is possible
del mytuple

In [182]:
mytuple

NameError: name 'mytuple' is not defined

### Loop through a tuple

In [184]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [185]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [186]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

### Count

In [187]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [192]:
# Number of times item "one" occurred in the tuple.
mytuple1.count('one')

3

In [193]:
# Occurence of item 'two' in the tuple
mytuple1.count('two')

2

In [194]:
#Occurence of item 'four' in the tuple
mytuple1.count('four')

1

In [196]:
#Occurence of item 'fifteen' in the tuple
mytuple1.count('fifteen')

0

### Tuple Membership

In [197]:
'one' in mytuple  # Check if 'one' exist in the tuple

True

In [199]:
1 in mytuple  # Check if '1' exist in the tuple

False

In [200]:
# Check if 'three' exist in the list
if 'three' in mytuple:
    print('Three is present')
else:
    print('Three is not present')

Three is present

In [202]:
# Check if 'eleven' exist in the list
if 'eleven' in mytuple:  
    print('eleven is present in the tuple')
else:
    print('eleven is not present in the tuple')

eleven is not present in the tuple

### Index Position

In [203]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

In [204]:
# Index of first element equal to 'one'
mytuple.index('one')

0

In [205]:
# Index of first element equal to 'ten'
mytuple.index('ten')

ValueError: tuple.index(x): x not in tuple

### Sorting

In [206]:
mytuple2 = (43,67,99,12,6,90,67)

In [207]:
# Returns a new sorted list and doesn't change original tuple
sorted(mytuple)

['eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two']

In [208]:
mytuple

('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight')

# Strings

Strings are immutable which means elements of a string cannot be changed once they have been assigned.

### string Creation

In [211]:
str1 = "Hello Python"
str1

'Hello Python'

In [216]:
# Define string using single quotes
mystr ='Hello World'

In [217]:
# Define string using double quotes
mystr ="Hello World"

In [219]:
# Define string using triple quotes
mystr = '''
    Hello
    World!
    '''
print(mystr)

    Hello
    World!

In [220]:
# Define string using triple quotes
mystr = """
    Hello
    World!
    """
print(mystr)

    Hello
    World!

In [222]:
mystr =('Happy '
       'Monday '
       'Everyone ')
print(mystr)

Happy Monday Everyone

In [224]:
#string replication
mystr2 = 'woohoo '
mystr2 = mystr2 *5
mystr2

'woohoo woohoo woohoo woohoo woohoo '

In [225]:
#length of the string
len(mystr2)

35

### String Indexing

forward indexing and backword indexing

In [226]:
str1 ="HELLO PYTHON"

In [227]:
#first character in string
str1[0]

'H'

In [229]:
#last character in string using len function
str1[len(str1)-1]

'N'

In [231]:
#last character in string using backword indexing
str1[-1]

'N'

In [232]:
#Fetch the 7th element in string
str1[7-1] #str[6]

'P'

In [233]:
str1[5]

' '

### String Slicing

In [235]:
#Fetch all character from 0 to 5 excluding character at 5th position
str1[0:5]

'HELLO'

In [236]:
#Retreive all characters between 6 - 12 index loc excluding index loc 12.
str1[6:12]

'PYTHON'

In [237]:
#fetch last 4 characters of string
str1[-4:]

'THON'

In [238]:
#Fetch first 4 characters of string
str1[:4]

'HELL'

### Update & Delete String

In [243]:
str1

'HELLO PYTHON'

In [247]:
# This will throw error because string is immutable
str1[0:5]='Hola'

NameError: name 'str1' is not defined

In [244]:
#delete a string
del str1

In [245]:
print(str1)#error due to string is deleted

NameError: name 'str1' is not defined

### String Concatination

In [248]:
fname ="Mansi"
lname ="Patel"
name = fname + lname
print(name)

MansiPatel

In [249]:
fname ="Mansi"
lname ="Patel"
name = fname +" "+ lname
print(name)

Mansi Patel

### Iterating through a String

In [250]:
mystr1 = "Hello Everyone"
#iteration
for char in mystr1:
    print(char)

H
e
l
l
o

E
v
e
r
y
o
n
e

In [251]:
#using enumarate
for char in enumerate(mystr1):
    print(char)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'E')
(7, 'v')
(8, 'e')
(9, 'r')
(10, 'y')
(11, 'o')
(12, 'n')
(13, 'e')

In [254]:
#Enumerate method adds a counter to an iterable and returns it in forms of enumerate object
list(enumerate(mystr1))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'E'),
 (7, 'v'),
 (8, 'e'),
 (9, 'r'),
 (10, 'y'),
 (11, 'o'),
 (12, 'n'),
 (13, 'e')]

### String Membership

In [257]:
#String Membership -- this will return true or false

mystr1 = "Hello Everyone"
print("hello" in mystr1) #check if 'hello' is in string or not
print("Hell" in mystr1) #check if 'Hell' is in string or not
print('llo ' in mystr1)

False
True
True

### String Partitioning

"""
The partition() method searches for a specified string and splits the string into a tuple containing three elements.

 - The first element contains the part before the argument string.

 - The second element contains the argument string.

 - The third element contains the part after the argument string.
"""

In [261]:
str5 = "Machine learning with, Python ,R and Java"
L = str5.partition(',') # it will count 1st ',' for partition
print(L)
print(type(L))

('Machine learning with', ',', ' Python ,R and Java')
<class 'tuple'>

### String Functions

In [270]:
mystr2 = "    Hello Everyone    "
mystr2

'    Hello Everyone    '

In [272]:
#strip - remove white spaces from begining and end of the string
mystr2.strip()

'Hello Everyone'

In [273]:
#rstrip -remove white spaces from end of the string
mystr2.rstrip()

'    Hello Everyone'

In [274]:
#lstrip -remove white spaces from begining of the string
mystr2.lstrip()

'Hello Everyone    '

In [275]:
mystr2 ="**********Hello Everyone**********All the best**********"
mystr2

'**********Hello Everyone**********All the best**********'

In [278]:
mystr2.strip('*')#it will remove * from both sides

'Hello Everyone**********All the best'

In [279]:
mystr2.rstrip('*')#it will remove * from end

'**********Hello Everyone**********All the best'

In [281]:
mystr2.lstrip('*')#it will remove * from beggining

'Hello Everyone**********All the best**********'

In [282]:
mystr2 = "   Hello EveryOne  "
mystr2

'   Hello EveryOne  '

In [283]:
mystr2.lower() #it will lower whole string

'   hello everyone  '

In [287]:
mystr2.upper() #it will upper whole string

'   HELLO EVERYONE  '

In [288]:
#Replace 
mystr2.replace('Hello','Hola') # replace Hello with Hola

'   Hola EveryOne  '

In [289]:
#Remove all white spaces using replace function
mystr2.replace(" ","")

'HelloEveryOne'

In [290]:
mystr5 = "One Two Three Four Five Six One Two Three"

In [292]:
# count
mystr5.count('One') #Number of time substring 'One' occured in string

2

In [402]:
#Startswith - Return boolean value True if string starts with "one"
print(mystr5.startswith('One'))
print(mystr5.startswith('Two'))

True
False

In [295]:
mystr4 = "one two three four one two two three five five six seven six seven one one one ten eight ten nine eleven ten ten nine"

In [298]:
mylist = mystr4.split('two')
mylist

['one ',
 ' three four one ',
 ' ',
 ' three five five six seven six seven one one one ten eight ten nine eleven ten ten nine']

In [299]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77

res = "Cost of item3 , item2 and item1 are {2} , {1} and {0}"
print(res.format(item1,item2,item3))

Cost of item3 , item2 and item1 are 77 , 55 and 40

In [301]:
str2 = "WELCOME EVERYONE"
str2 = str2.center(100) # center align the string using a specific character as the fill character.
print(str2)

                                          WELCOME EVERYONE

In [302]:
# center align the string using a specific character ('*') as the fill character.
str2 = " Welcome Everyone "
str2 = str2.center(100,"*")
print(str2)

***************************************** Welcome Everyone *****************************************

In [305]:
#rjust - # Right align the string using a specific character as the fill character.
str2 = "welcome Everyone"
str2.rjust(20)

'    welcome Everyone'

In [307]:
#ljust - # left align the string using a specific character as the fill character.
str2 = "welcome Everyone"
str2.ljust(30)

'welcome Everyone              '

In [320]:
#find - find the location of word in string
str4 = 'One two one three four two five six seven'
print(str4.find('One'))
print(str4.find('few'))
print(str4.find('two'))
print(str4.find('twe'))
print(str4.find('ree'))
print(str4.find(' three'))

0
-1
4
-1
14
11

In [352]:
#index - find the location of word in string
str4 = 'One two one three four two five six seven'
print(str4.index('One'))
print(str4.index('t'))
print(str4.index('few')) # this will give error

0
4

ValueError: substring not found

Difference between find and index is on wrong word find will return '-1' while index will throw error

In [329]:
mystr6 = '123456789'
print(mystr6.isalpha()) # returns True if all the characters in the text are letters
print(mystr6.isalnum()) # returns true if a string contains only letters or numbers or both
print(mystr6.isdecimal())# returns true if all the characters are decimals(0-9)
print(mystr6.isdigit()) #
print(mystr6.isnumeric())#returns true if all the characters are numeric(0-9)

False
True
True
True
True

In [335]:
mystr7 = 'abcde'
print(mystr7.isalpha()) # returns True if all the characters in the text are letters
print(mystr7.isalnum()) # returns true if a string contains only letters or numbers or both
print(mystr7.isdecimal())# returns true if all the characters are decimals(0-9)
print(mystr7.isdigit()) #
print(mystr7.isnumeric())#returns true if all the characters are numeric(0-9)

True
True
False
False
False

In [343]:
mystr8='abc123'
print(mystr8.isalpha()) # returns True if all the characters in the text are letters
print(mystr8.isalnum()) # returns true if a string contains only letters or numbers or both
print(mystr8.isdecimal())# returns true if all the characters are decimals(0-9)
print(mystr8.isdigit()) #
print(mystr8.isnumeric())#returns true if all the characters are numeric(0-9)

False
True
False
False
False

In [344]:
#isupper()  and islower()
mystr9 = 'ABCDEF'
print(mystr9.isupper()) # Returns True if all the characters are in upper case
print(mystr9.islower()) # Returns True if all the characters are in lower case

True
False

In [359]:
#rfind - last occurence of the word in a string
str10 = "one two three t four one two two three five five six one ten eight ten nine eleven ten ten nine"
str10.rfind('two')
print(str10.rfind('t'))
print(str10.rfind('zip'))

87
-1

In [360]:
# rindex- last occurance of the word in a string
print(str10.rindex('two'))

print(str10.rindex('zip'))
print(str10.rindex('t'))

29

ValueError: substring not found

In [384]:
#capitalize - first letter of the string will be capital
mystr11 = 'my Name is Mansi'
mystr11.capitalize()

'My name is mansi'

In [385]:
#title- first letter of all words will be capital
mystr14 = "Hello everyone , how are you"
print(mystr14.title())

Hello Everyone , How Are You
True

In [368]:
#istitle - returns True if all first letter of words will be capital ele reruen false
mystr11 = 'My Name Is Mansi'
print(mystr11.istitle()) 
mystr12 = 'My name is Mansi'
print(mystr12.istitle())

True
False

In [370]:
#casefold -returns a string where all the characters are lower case. This method is similar to the lower() method,
mystr12 = 'My Name Is Mansi'
print(mystr12.casefold())

my name is mansi

In [376]:
#endswith - check if string finish with given letter or word
mystr12 = 'My Name Is Mansi'
print(mystr12.endswith('Mansi'))
print(mystr12.endswith('i'))
print(mystr12.endswith('o'))

True
True
False

In [381]:
#expandtabs - '\t' method sets the tab size to the specified number of whitespaces
mystr13 = 'H\te\tl\tl\to'
mystr13.expandtabs(5)

'H    e    l    l    o'

In [395]:
#isprintable - returns True if all the characters are printable
mystr15 = "\n"
print(mystr15.isprintable())
mystr15_1 = "Hello Everyone"
print(mystr15_1.isprintable())

False
True

In [397]:
#swapcase - method returns a string where all the upper case letters are lower case and vice versa.
mystr16 = "Hello Python"
print(mystr16.swapcase())
mystr16_1 = "hEEello pythoN"
print(mystr16_1.swapcase())

hELLO pYTHON
HeeELLO PYTHOn

In [401]:
#zfill - method adds zeros (0) at the beginning of the string, until it reaches the specified length
mystr17 = 'Mansi'
mystr17.zfill(10)

'00000Mansi'

# Set

1. Unordered and unindexed collection of items

2. Set elements are immutable(can not be changed)

3. Set elements are unique.Duplicate elements are not allowed

4. Set itself is a mutable.We can add and remove item from it

### Set Creation

In [403]:
myset ={1,2,3,4,5}#set of numbers

In [405]:
len(myset) #length of set

5

In [406]:
myset = {1,2,3,4,5,1,2,3} # Duplicate elements are not allowed.
myset

{1, 2, 3, 4, 5}

In [407]:
myset1={1,2,3.4,11.5} # set of float number
myset1

{1, 2, 3.4, 11.5}

In [408]:
myset2={'Hello','Everyone','Hi'} # set of strings
myset2

{'Everyone', 'Hello', 'Hi'}

In [411]:
myset3 = {1,11.3,(1,2,3)} # set of mixed datatypes
myset3

{(1, 2, 3), 1, 11.3}

In [414]:
# Below will give error
myset3 = {1,11.3,{1,2,3,'hi'},(1,2,3)} # set doesn't allow mutable items like set
print(myset3)
myset3 = {10,20, "Hola", [11, 22, 32]} # set doesn't allow mutable items like lists
print(myset3)
myset3 = {10,20, "Hola", {'name':'Mansi'}} # set doesn't allow mutable items like dictionary
print(myset3)

TypeError: unhashable type: 'set'

In [415]:
myset4 = {}# create empty set
myset4

{}

In [416]:
myset5 = set(('one','two','three'))
myset5

{'one', 'three', 'two'}

### Loop through a Set

In [424]:
myset = {'one','two','three','four','five','six','seven','eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [425]:
for i in myset:
    print(i)

three
eight
five
one
seven
two
six
four

In [426]:
for i in enumerate(myset):
    print(i)

(0, 'three')
(1, 'eight')
(2, 'five')
(3, 'one')
(4, 'seven')
(5, 'two')
(6, 'six')
(7, 'four')

### Set Membership

In [427]:
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [428]:
'one' in myset #check if 'one' in myset

True

In [429]:
'ten' in myset # Check if 'ten' exist in the set

False

In [430]:
if 'Three' in myset:
    print('Three is in set')
else:
    print('Three is not in set')

Three is not in set

### Add & Remove Items

In [443]:
myset = {'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [444]:
myset.add("NINE") # to add single item add method is used
myset

{'NINE', 'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [445]:
myset.update(['TEN','Eleven','Twelve']) # to add multiple values in set used list of value 
myset

{'Eleven',
 'NINE',
 'TEN',
 'Twelve',
 'eight',
 'five',
 'four',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [446]:
myset.update('TEN','Eleven') # It will seperate all letters of string and 'll store as elements
myset

{'E',
 'Eleven',
 'N',
 'NINE',
 'T',
 'TEN',
 'Twelve',
 'e',
 'eight',
 'five',
 'four',
 'l',
 'n',
 'one',
 'seven',
 'six',
 'three',
 'two',
 'v'}

In [447]:
myset.update(['hola','Hola','hola','Hola']) # duplicate values will not be reflect
myset

{'E',
 'Eleven',
 'Hola',
 'N',
 'NINE',
 'T',
 'TEN',
 'Twelve',
 'e',
 'eight',
 'five',
 'four',
 'hola',
 'l',
 'n',
 'one',
 'seven',
 'six',
 'three',
 'two',
 'v'}

In [449]:
myset.remove('NINE')# to remove item

In [450]:
myset

{'E',
 'Eleven',
 'Hola',
 'N',
 'T',
 'TEN',
 'Twelve',
 'e',
 'eight',
 'five',
 'four',
 'hola',
 'l',
 'n',
 'one',
 'seven',
 'six',
 'three',
 'two',
 'v'}

In [451]:
myset.discard('TEN')# to discard item from set

In [452]:
myset

{'E',
 'Eleven',
 'Hola',
 'N',
 'T',
 'Twelve',
 'e',
 'eight',
 'five',
 'four',
 'hola',
 'l',
 'n',
 'one',
 'seven',
 'six',
 'three',
 'two',
 'v'}

In [454]:
myset.clear()# it will delete all the elements of the set
myset

set()

In [455]:
del myset # it will delete set
myset

NameError: name 'myset' is not defined

### Copy Set

In [456]:
myset = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [457]:
myset1 = myset # create a new refrence 'myset1' # shallow copy
myset1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [458]:
id(myset1),id(myset) # pointing to same memory location

(2110544595208, 2110544595208)

In [459]:
my_set = myset.copy()
my_set

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [460]:
id(my_set),id(myset) # id's are different in copy method

(2110542637096, 2110544595208)

In [461]:
myset.add('TEN')

In [462]:
print(myset)
print(myset1) # change in original set also reflect in shallow copy 
print(my_set) # here there is no update of value 'TEN' in set

{'three', 'eight', 'five', 'one', 'TEN', 'seven', 'two', 'six', 'four'}
{'three', 'eight', 'five', 'one', 'TEN', 'seven', 'two', 'six', 'four'}
{'three', 'eight', 'five', 'one', 'seven', 'two', 'six', 'four'}

### Set Operation

##### Union

In [464]:
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}
C = {9,10,11}

In [465]:
A|B # A union B -it will give only unique values

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [466]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [467]:
A.union(B,C) # it will return all the unique values of 3 set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [468]:
"""
Updates the set calling the update() method with union of A , B & C. 

For below example Set A will be updated with union of A,B & C.
"""
A.update(B,C)
A

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

##### Intersection

In [483]:
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}
C = {4,9,10,11}

In [484]:
A & B  # this will give only common values from both

{4, 5, 6}

In [485]:
A.intersection(B)

{4, 5, 6}

In [486]:
A.intersection(B,C) # there is only one 'four' common value in 3 sets

{4}

In [487]:
"""
Updates the set calling the intersection_update() method with the intersection of sets.

For below example Set A will be updated  with the intersection of A & B.
"""
A.intersection_update(B)
A

{4, 5, 6}

#### Difference

In [488]:
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}
C = {4,9,10,11}

In [489]:
A - B #returns set of elements which are only in A but not in B

{1, 2, 3}

In [490]:
B - A #returns set of elements which are only in B but not in A

{7, 8, 9}

In [492]:
A.difference(B),B.difference(A)

({1, 2, 3}, {7, 8, 9})

In [493]:
"""
Updates the set calling the difference_update() method with the difference of sets.

For below example Set B will be updated  with the difference of B & A.
"""
B.difference_update(A)

In [494]:
B

{7, 8, 9}

#### Symmetric Difference

In [495]:
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}
C = {4,9,10,11}

In [497]:
A^B #It will return unique values from both set(Excluding INTERSECTION values)

{1, 2, 3, 7, 8, 9}

In [500]:
A.symmetric_difference(B),B.symmetric_difference(A)

({1, 2, 3, 7, 8, 9}, {1, 2, 3, 7, 8, 9})

In [502]:
"""
Updates the set calling the symmetric_difference_update() method with the symmetric difference of sets.

For below example Set A will be updated  with the symmetric difference of A & B.
"""

A.symmetric_difference_update(B)
A

{1, 2, 3, 4, 5, 6}

### Subset , Superset & Disjoint

In [506]:
A={1,2,3,4,5,6,7,8,9}
B={5,6,7,8,9}
C={10,20,30,40}

In [509]:
A.issubset(B) # Set A is said to be the subset of set B if all elements of A are in B.

False

In [507]:
B.issubset(A) # Set B is said to be the subset of set A if all elements of B are in A.

True

In [514]:
A.issuperset(B) # Set A is said to be the superset of set B if all elements of B are in A.

True

In [516]:
B.issuperset(A) # Set B is said to be the superset of set A if all elements of A are in B.

False

In [520]:
A.isdisjoint(C) # Two sets are said to be disjoint sets if they have no common elements

True

In [519]:
A.isdisjoint(B) # Two sets are said to be disjoint sets if they have no common elements

False

### Other Builtin functions of Set

In [521]:
A = {1,2,3,4,5,6,7,8,9}

In [522]:
sum(A)

45

In [523]:
max(A)

9

In [524]:
min(A)

1

In [525]:
len(A)

9

In [527]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [528]:
D = sorted(A,reverse=True)
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [531]:
E = sorted(A)
print(E)
print(sorted(D))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

Dictionary is a mutable data type in Python.

A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.

Keys must be unique in a dictionary, duplicate values are allowed.

#### Create Dictionary

In [532]:
mydict = dict() #empty dictionary
mydict

{}

In [533]:
mydict = {} #empty dictionary 
mydict

{}

In [534]:
mydict = {1:'One',2:'Two'} # Dictionary with integer keys
mydict

{1: 'One', 2: 'Two'}

In [538]:
mydict = dict({1:'One',2:'Two'}) #creat dictioany using dict()
mydict

{1: 'One', 2: 'Two'}

In [539]:
#dictionary with character keys
mydict = {'A':'One','B':'Two','C':'Three'}
mydict

{'A': 'One', 'B': 'Two', 'C': 'Three'}

In [540]:
mydict.keys() # returns the dictionary keys using keys() method

dict_keys(['A', 'B', 'C'])

In [541]:
mydict.values() #returns the dictionary using values() method

dict_values(['One', 'Two', 'Three'])

In [542]:
mydict.items() #Access each key-value pair in list form using item() method

dict_items([('A', 'One'), ('B', 'Two'), ('C', 'Three')])

In [543]:
#Dictionaries with mixed keys
mydict = {1:'One','A':'one'}

In [544]:
mydict

{1: 'One', 'A': 'one'}

In [545]:
mydict = {1:'One',2:'Two','Names':['Mansi','Ruchi','Yogi']}
mydict

{1: 'One', 2: 'Two', 'Names': ['Mansi', 'Ruchi', 'Yogi']}

In [546]:
#Create a dictionary from a sequence of keys with values using fromkeys() method
keys = {'a','b','c','d'}
mydict1 = dict.fromkeys(keys)
mydict1

{'c': None, 'a': None, 'd': None, 'b': None}

In [549]:
#Create a dictionary from a sequence of keys with values using fromkeys() method
keys = {'a','b','c','d'}
values = [10,20]
mydict1 = dict.fromkeys(keys,values)
mydict1

{'c': [10, 20], 'a': [10, 20], 'd': [10, 20], 'b': [10, 20]}

In [550]:
values.append(40)
mydict1

{'c': [10, 20, 40], 'a': [10, 20, 40], 'd': [10, 20, 40], 'b': [10, 20, 40]}

#### Accessing Items

In [561]:
mydict = {1:'one',2:'Two',3:'Three',4:'Four'}
mydict

{1: 'one', 2: 'Two', 3: 'Three', 4: 'Four'}

In [560]:
mydict[1] # pass the key value in brackets and it will return value of that key

'one'

In [562]:
mydict.get(1) # access value using get method

'one'

In [563]:
mydict2 = {'Name':'Mansi','Surname':'Patel','Job':'DS'}

In [564]:
mydict2['Name']

'Mansi'

In [565]:
mydict2.get('Job')

'DS'

#### Add,Remove and Change Item

In [573]:
mydict2

{'Name': 'Mansi', 'Surname': 'Patel', 'Job': 'DS', 'city': 'Valencia'}

In [574]:
mydict2['Address'] = 'Ahmedabad' #Adding to dictionary item
mydict2

{'Name': 'Mansi',
 'Surname': 'Patel',
 'Job': 'DS',
 'city': 'Valencia',
 'Address': 'Ahmedabad'}

In [577]:
dict1 = {'Address':'Spain'} 
mydict2.update(dict1) # updateing Address Ahmedabad to Spain
mydict2

{'Name': 'Mansi',
 'Surname': 'Patel',
 'Job': 'DS',
 'city': 'Valencia',
 'Address': 'Spain',
 'Addrs': 'spin'}

In [578]:
mydict2['city'] ='Valencia'  # adding city
mydict2

{'Name': 'Mansi',
 'Surname': 'Patel',
 'Job': 'DS',
 'city': 'Valencia',
 'Address': 'Spain',
 'Addrs': 'spin'}

In [579]:
#removing item using pop method
mydict2.pop('Addrs')
mydict2

{'Name': 'Mansi',
 'Surname': 'Patel',
 'Job': 'DS',
 'city': 'Valencia',
 'Address': 'Spain'}

In [580]:
mydict2.popitem() #A random item is removed
mydict2

('Address', 'Spain')

In [581]:
mydict2

{'Name': 'Mansi', 'Surname': 'Patel', 'Job': 'DS', 'city': 'Valencia'}

In [583]:
# Removing item using del method
del(mydict2['city'])
mydict2

{'Name': 'Mansi', 'Surname': 'Patel', 'Job': 'DS'}

In [584]:
#Delete all items of the dictionary using clear method
mydict2.clear()

In [585]:
mydict2

{}

In [586]:
# delete the dictionary object
del mydict2

In [588]:
mydict2

NameError: name 'mydict2' is not defined

#### Copy Dictionary

In [589]:
mydict = {'Name': 'Mansi', 'Surname': 'Patel', 'Job': 'DS', 'city': 'Valencia'}

In [591]:
mydict1 = mydict #shallow copy - Memory location are same for both dictionaries
id(mydict) , id(mydict1)

(2110507992152, 2110507992152)

In [592]:
mydict2 = mydict.copy()
id(mydict) , id(mydict2) #Address are different

(2110507992152, 2110535609864)

In [594]:
mydict['Address'] = 'Spain'
print(mydict)
print(mydict1)
print(mydict2)

{'Name': 'Mansi', 'Surname': 'Patel', 'Job': 'DS', 'city': 'Valencia', 'Address': 'Spain'}
{'Name': 'Mansi', 'Surname': 'Patel', 'Job': 'DS', 'city': 'Valencia', 'Address': 'Spain'}
{'Name': 'Mansi', 'Surname': 'Patel', 'Job': 'DS', 'city': 'Valencia'}

#### Loop through a Dictionary

In [595]:
mydict

{'Name': 'Mansi',
 'Surname': 'Patel',
 'Job': 'DS',
 'city': 'Valencia',
 'Address': 'Spain'}

In [597]:
for i in mydict:
    print(i) # This 'll return only keys

Name : Mansi
Surname : Patel
Job : DS
city : Valencia
Address : Spain

In [598]:
for i in mydict:
    print(i,':',mydict[i]) #This 'll return key-value pair'

Name : Mansi
Surname : Patel
Job : DS
city : Valencia
Address : Spain

In [603]:
for i in mydict:
    print(mydict[i]) # This 'll return only values

Mansi
Patel
DS
Valencia
Spain

#### Dictionary Membership

In [600]:
mydict

{'Name': 'Mansi',
 'Surname': 'Patel',
 'Job': 'DS',
 'city': 'Valencia',
 'Address': 'Spain'}

In [601]:
'Name' in mydict

True

In [604]:
'Mansi' in mydict # Values can't be find using membership, only keys can be find

False

In [606]:
'DOJ' in mydict #'DOJ' key is not present so answer is False

False

### Extra

In [607]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

#### ALL/ANY

#### Dictionary Comprehence